# Mengabaikan folder hasil unduhan scraper
DATASET_SCORE_TEST_EOI/
*.csv
*.xlsx
*.crdownload
*.tmp

# Mengabaikan folder Virtual Environment Python
venv/
env/
.venv/
eoi_venv/

# Mengabaikan file cache bawaan Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Mengabaikan file sistem
.DS_Store
Thumbs.db